<header>
    <h1>
        {{pageTitle}}
    </h1>
    <p><a href="/">Home Page Under Construction</a></p>
    <p><a href="/about">About Our Services</a></p>
    <p><a href="/projects">2018 Working Projects</a></p>
</header>